doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Рецепт: #{receipt.name}
  body
    h1 Рецепт: #{receipt.name}
    p Описание: #{receipt.description}
    p Рецепт: #{receipt.recipe}